.slider-2 {
  @include media-breakpoint-down(md) {
    margin-right: -12px;
    margin-left: -12px;
  }

  .carousel-inner {
    img {
      min-height: 300px;
      object-fit: cover;
    }

    @include media-breakpoint-up(md) {
      margin-right: -100px;
      position: relative;
      margin-left: -100px;
      margin-bottom: -100px;
      width: auto;
      height: auto;
      max-height: 760px;
    }
  }

  .rounded-indicator {
    margin: 0;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: start;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;

    li {
      border-radius: 50%;
      width: 10px !important;
      height: 10px !important;
      opacity: 1 !important;

      &.active {
        background-color: $secondary;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .slider-info {
    z-index: 99;
    position: absolute;
    bottom: 0;
    // @include media-breakpoint-down(md) {
    //   position: relative;
    //   margin-top: 195px;
    // }
  }
}