.img-fit-1{
  background-image: url(../img/img-1.png);
  background-size: cover;
  min-height: 350px;
  height: 600px;
  @include media-breakpoint-down(md){
    height: auto!important;
  }
  width: 100%;
  // position: absolute;
  // background-position: bottom;
}

.img-cover{
  object-fit: cover;
  width: 100%;
}