.list-index {
  // position: absolute;
  z-index: 9;

  li.active:before {
    content: '';
    width: 100px;
    border-bottom: solid 5px $black;
    position: absolute;
    top: 50%;
    left: -120px;
    transition: width 0.5s;
  }

  @include media-breakpoint-up(md){
    li.active:after {
      content: '';
      width: 45px;
      height: 45px;
      position: absolute;
      background-color: #329fdf;
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
      right: -14px;
    }
  }

  li a{
    color: inherit; 
    text-decoration: none;
  }

  li:before {
    content: '';
    width: 70px;
    border-bottom: solid 2.5px $grey;
    position: absolute;
    top: 50%;
    left: -100px;
  }

  li.active {
    position: relative;
    margin-left: 120px;
    font-weight: 700;
    font-size: 24px;
    color: $black !important;
  }

  li {
    position: relative;
    margin-bottom: 30px;
    margin-left: 100px;
    font-weight: 500;
    font-size: 20px;
    color: $grey !important;
  }
}